/* .miniNav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    margin-right: 1rem;
}

.miniNav ul li {

    display: inline;
    transition: all 1s ease-out;
}

.miniNav ul li:hover
 { */
     /* background-color: aquamarine; */
     /* color: red;
   
}
.miniNav ul li:active{
    background:red;
} */