.skill--test {
  color: red;
  font-size: 3rem;
  /* background-color: rgb(255, 255, 255); */
  width: 14rem;
}
/* style={{
    backgroundColor: 'white',
    border: "thin solid",
    boxShadow: '2px 2px 46px -16px #000000',
    maxWidth: '12rem'
}} */
.skill-test * p {
  font-size: 3rem;
}
.skill--delete {
  box-shadow: none;
}

.skill--delete {
  font-size: 1.5rem;
  color: rgb(189, 11, 11);
}
