.mentor--container {
  border: 0.1rem solid black;
  margin: 2rem;
  background-color: rgb(241, 231, 199);
}

.mentor--name {
  color: black;
  font-size: 1.8rem;
  font-weight: 600;
}

/* .bio--section {
  background-color: white;
  font-size: 1.2rem;
  display: flex;
  text-align: start;
} */
.card--skills {
  color: #9482ff !important;
}
.card--container {
  /* background-color: #faf7fb; */
  box-shadow: 3px 3px 8px rgb(0, 0, 0);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
a {
  list-style: none;
  color: black;
}
.mentor--icon {
  
 
}
.mentor--icon:hover {
  color: green;
}

.mentor--name {
  color:#03256c;
}