
body{
    /* background-image: url(./img/3649732.jpg); */
    background-size:cover;
    background-repeat: no-repeat;
}

.miniNav{
    background-color: #ffe5e2;
    padding: 0.5rem;
    box-shadow: 3px 3px 8px rgb(0, 0, 0);
}

.profile{
    
    background-size:cover;
    background-repeat: no-repeat;
}